.vs/
bin/
obj/
Freemold.Api/token.json
Freemold.Api/credentials.json
Freemold.Modules/Services/SendgridService.cs
Freemold.Api/appsettings.json
/Freemold.Api/appsettings.json
/standardmold.Admin/appsettings.json
