<div class="container-fluid px-4">
    <div class="mb-3 mt-4">
        <form class="d-flex align-items-center" role="search">
            <input type="text" class="form-control form-control-sm me-2 datepicker" placeholder="이름 검색" style="max-width: 100px;">
            <span class="mx-2">~</span>
            <input type="text" class="form-control form-control-sm me-2 datepicker" placeholder="근무지 검색" style="max-width: 100px;">
            <button type="submit" class="btn btn-sm btn-primary">검색</button>
        </form>
    </div>
    <div class="row mt-4">
        <div class="col-xl-3">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    검색기간 일별 접속자수
                </div>
                <div class="card-body">
                    <table class="table table-sm mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>날짜</th>
                                <th>전체</th>
                                <th>PC</th>
                                <th>Mobile</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>Edinburgh</td>
                            </tr>
                            <tr>
                                <td>Fiona Green</td>
                                <td>COO</td>
                                <td>San Francisco</td>
                                <td>Edinburgh</td>
                            </tr>
                            <tr>
                                <td>Donna Snider</td>
                                <td>Customer Support</td>
                                <td>New York</td>
                                <td>Edinburgh</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    검색기간 시간대별 접속자수
                </div>
                <div class="card-body">
                    <table class="table table-sm mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>시간</th>
                                <th>전체</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>순위</td>
                                <td>System Architect</td>
                            </tr>
                            <tr>
                                <td>Fiona Green</td>
                                <td>COO</td>
                            </tr>
                            <tr>
                                <td>Donna Snider</td>
                                <td>Customer Support</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    검색기간 유입경로
                </div>
                <div class="card-body">
                    <table class="table table-sm mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>순위</th>
                                <th>경로</th>
                                <th>카운트</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                            </tr>
                            <tr>
                                <td>Fiona Green</td>
                                <td>COO</td>
                                <td>San Francisco</td>
                            </tr>
                            <tr>
                                <td>Donna Snider</td>
                                <td>Customer Support</td>
                                <td>New York</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    검색기간 국가별 경로
                </div>
                <div class="card-body">
                    <table class="table table-sm mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>순위</th>
                                <th>코드</th>
                                <th>국가명</th>
                                <th>카운트</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>Edinburgh</td>
                            </tr>
                            <tr>
                                <td>Fiona Green</td>
                                <td>COO</td>
                                <td>San Francisco</td>
                                <td>Edinburgh</td>
                            </tr>
                            <tr>
                                <td>Donna Snider</td>
                                <td>Customer Support</td>
                                <td>New York</td>
                                <td>Edinburgh</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

