* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --gothic: "Cormorant Garamond", serif;
    --hd-height: 6.25rem;
}

html, body {
  font-family: "Red Hat Display", serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  background-color: #fff;
  word-break: keep-all;
  overflow: auto; 
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

@media (max-width: 1536px) {
  html, body {
    font-size: clamp(14px, 1.2vw, 16px);
  }
}

@media (max-width: 1024px) {
  html, body {
    font-size: clamp(13px, 1.4vw, 15px);
  }
}

@media (max-width: 768px) {
  html, body {
    font-size: clamp(12px, 1.6vw, 14px);
  }
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}

strong, em, address {
  font-style: normal;
  font-weight: inherit;
}

ul, ol {
  list-style: none;
}

:where(a, a:link, a:visited, a:hover, a:active, a:focus) {
  color: inherit; 
  text-decoration: none; 
  transition:.3s ease all;
}

img {
	display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
}

form {
  all: unset;
  display: block;
}

fieldset {
  border: 0;
  min-inline-size: auto;
}

legend {
  padding: 0;
  border: 0;
  white-space: normal;
}

label {
  display: inline-block;
  cursor: pointer;
}

input, textarea, select {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  outline: none;
  background: none;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible, 
select:focus-visible {
  
}


table {
  table-layout: fixed;
  width: 100%;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
  vertical-align: middle;
  text-align: left;  
  border-collapse: collapse;
  border-spacing: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only:focus {
  position: static;
  width: auto;
  height: auto;
  padding: inherit;
  margin: inherit;
  overflow: visible;
  clip: auto;
  white-space: inherit;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

.inner {
  width: 100%;
  max-width: 1752px;
  margin: 0 auto;
  padding:0 16px;
}