@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="visual" class="visual visual--sub" aria-labelledby="visual-tit" data-skip>
    <div class="inner">
        <h1 id="visual-tit" class="visual__title visual__title--about">
            <span class="visual__text visual__text">Welcome to</span>
            <span class="visual__text visual__text">All in K Beauty.</span>
        </h1>
    </div>
</section>
<script src="~/js/layout/common/visual.js"></script>
<main id="main" class="page" role="main">
    <div class="inner">
        <div id="about" class="ly-split" data-skip>
            <section class="ly-split__panel">
                <div class="ly-split__int">
                    <h2 class="ly-split__tit">Your <span>One Stop</span> <br>K<span class="hyphen">-</span>Beauty <span>Partner.</span></h2>
                    <div class="ly-split__content">
                        <p class="ly-split__desc">AllinKBeauty is a comprehensive platform dedicated to empowering brands worldwide with the best of Korean beauty innovation.</p>
                        <p class="ly-split__desc">Whether you’re just starting with an idea or ready to launch your own line, we provide seamless, end-to-end solutions — from formula development and packaging sourcing to full brand creation and global market entry.</p>
                        <p class="ly-split__desc">We partner with Korea’s leading manufacturers, formulators, designers, and regulatory experts to deliver turnkey OBM, ODM, and OEM solutions tailored to your brand vision.</p>
                        <p class="ly-split__desc">AllinKBeauty is your trusted partner every step of the way — simplifying your journey to success from idea to shelf.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
<script src="~/js/layout/common/panels.js"></script>