@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="visual" class="visual visual--sub" aria-labelledby="visual-tit" data-skip>
    <div class="inner">
        <h1 id="visual-tit" class="visual__title visual__title--formula">
            <span class="visual__text visual__text">About</span>
            <span class="visual__text visual__text">Design Planet</span>
        </h1>
    </div>
</section>
<main id="main" class="page" role="main">
    <div class="inner">
        <div id="about" class="ly-split" data-skip>
            <section class="ly-split__panel">
                <div class="ly-split__int">
                    <h2 class="ly-split__tit">
                        The Power Behind <br>AllinKBeauty
                    </h2>
                    <div class="ly-split__content">
                        <p class="ly-split__desc">Design Planet Co., Ltd is a leading Korean OEM, ODM, and OBM service provider with extensive experience and a proven track record in the beauty industry.</p>
                        <p class="ly-split__desc">Our expert team combines cutting-edge technology with deep market insight to deliver high-quality, customized solutions that bring your beauty brand to life.</p>
                        <p class="ly-split__desc">Serving clients across the globe, we are committed to meticulous craftsmanship, innovative development processes, and trusted international partnerships — ensuring every product we help create meets the highest standards of K-beauty excellence.</p>
                    </div>
                </div>
            </section>
            <script src="~/js/layout/common/visual.js"></script>
            <section class="ly-split__panel">
                <div class="ly-split__int">
                    <h2 class="ly-split__tit">Trusted by <br><span>Brands Worldwide</span></h2>
                    <div class="ly-split__content">
                        <p class="ly-split__desc">We are proud to have partnered with a diverse range of brands, helping them grow and succeed in global markets. Here are some of the trusted partners who have joined us on their K-beauty journey</p>
                    </div>
                </div>
            </section>
            <script src="~/js/layout/common/panels.js"></script>
            <ul class="grid-list grid-list--about">
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
                <li class="grid-list__item"><img src="~/images/client_logo.png" alt="client logo" class="grid-list__img"></li>
            </ul>
            <script src="~/js/layout/formula/grid.js"></script>
        </div>
    </div>
</main>   