@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="prd-view">
    <div class="inner">
        <div class="view-container">
            <div class="view-slide">
                <div class="view-slide__main">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="~/images/view_thumb01.jpg" alt="product img01"></div>
                        <div class="swiper-slide"><img src="~/images/view_thumb01.jpg" alt="product img02"></div>
                        <div class="swiper-slide"><img src="~/images/view_thumb01.jpg" alt="product img03"></div>
                        <div class="swiper-slide"><img src="~/images/view_thumb01.jpg" alt="product img04"></div>
                        <div class="swiper-slide"><img src="~/images/view_thumb01.jpg" alt="product img05"></div>
                        <div class="swiper-slide"><img src="~/images/view_thumb01.jpg" alt="product img06"></div>
                    </div>
                </div>
                <div class="view-slide__thumb">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="~/images/view_thumb01.jpg" alt="product thumb img01"></div>
                        <div class="swiper-slide"><img src="~/images/view_thumb01.jpg" alt="product thumb img02"></div>
                        <div class="swiper-slide"><img src="~/images/view_thumb01.jpg" alt="product thumb img03"></div>
                        <div class="swiper-slide"><img src="~/images/view_thumb01.jpg" alt="product thumb img04"></div>
                        <div class="swiper-slide"><img src="~/images/view_thumb01.jpg" alt="product thumb img05"></div>
                        <div class="swiper-slide"><img src="~/images/view_thumb01.jpg" alt="product thumb img06"></div>
                    </div>
                </div>
            </div>
            <div class="view-info">
                <section class="view-info__int">
                    <h1 class="view-info__tit">PRODUCT TITLE</h1>
                </section>
                <div class="view-info__detail">
                    <section class="view-info__panel">
                        <div class="view-info__header">
                            <h2 class="view-info__cate">Description</h2>
                            <p class="view-info__desc">We are proud to have partnered with a diverse range of brands</p>
                        </div>
                    </section>
                    <section class="view-info__panel">
                        <div class="view-info__header">
                            <h2 class="view-info__cate">Key ingredients</h2>
                            <p class="view-info__desc">We are proud to have partnered with a diverse range of brands</p>
                        </div>
                    </section>
                    <section class="view-info__panel">
                        <div class="view-info__header">
                            <h2 class="view-info__cate">texture</h2>
                            <p class="view-info__desc">We are proud to have partnered with a diverse range of brands</p>
                        </div>
                    </section>
                    <section class="view-info__panel">
                        <div class="view-info__header">
                            <h2 class="view-info__cate">product features</h2>
                            <p class="view-info__desc">We are proud to have partnered with a diverse range of brands</p>
                        </div>
                    </section>
                </div>
                <div class="view-info__footer">
                    <button type="button" class="view-info__wish">
                        <img src="~/images/wish_icon.svg" alt="Remember my wish list">
                    </button>
                    <a href="#null" class="view-info__contact">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>