@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="prd-list">
    <div class="inner">
        <section class="prd-int">
            <h1 class="prd-int__tit">Discover Formulations Tailored <br><span>for Your Brand.</span></h1>
        </section>
        <nav class="prd-nav">
            <div class="prd-nav__panel">
                <h2 class="prd-nav__cate">1th depth</h2>
                <ul class="prd-nav__list">
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn" aria-current="page">ALL</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">Series</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">Applicator/Ceramic Ball</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">Make up</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">Tube</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">Stick/Sunstick</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">Bottle</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">Jar</a></li>
                </ul>
            </div>
            <div class="prd-nav__panel">
                <h2 class="prd-nav__cate">2nd depth</h2>
                <ul class="prd-nav__list">
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">Select 1st Depth</a></li>
                </ul>
            </div>
            <div class="prd-nav__panel">
                <h2 class="prd-nav__cate">Volume</h2>
                <ul class="prd-nav__list">
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn" aria-current="page">ALL</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">Mini(Below 10)</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">11~15</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">16~30</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">31~50</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">51~100</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">101~200</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">201~300</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">301~500</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">501~1000</a></li>
                    <li class="prd-nav__item"><a href="#null" class="prd-nav__btn">1001 over</a></li>
                </ul>
            </div>
        </nav>
        <main id="main" role="main">
            <h3 class="sr-only">Product list</h3>
            <ul class="prd-gall">
                <li class="prd-gall__item">
                    <a href="FormualInfo" class="prd-gall__link">
                        <figure class="prd-gall__frame"><img src="~/images/prd_thumb01.jpg" alt="Product thumbnail" class="prd-gall__img"></figure>
                        <h4 class="prd-gall__name">Title</h4>
                    </a>
                </li>
                <li class="prd-gall__item">
                    <a href="FormualInfo" class="prd-gall__link">
                        <figure class="prd-gall__frame"><img src="~/images/prd_thumb01.jpg" alt="Product thumbnail" class="prd-gall__img"></figure>
                        <h4 class="prd-gall__name">Title</h4>
                    </a>
                </li>
                <li class="prd-gall__item">
                    <a href="FormualInfo" class="prd-gall__link">
                        <figure class="prd-gall__frame"><img src="~/images/prd_thumb01.jpg" alt="Product thumbnail" class="prd-gall__img"></figure>
                        <h4 class="prd-gall__name">Title</h4>
                    </a>
                </li>
                <li class="prd-gall__item">
                    <a href="FormualInfo" class="prd-gall__link">
                        <figure class="prd-gall__frame"><img src="~/images/prd_thumb01.jpg" alt="Product thumbnail" class="prd-gall__img"></figure>
                        <h4 class="prd-gall__name">Title</h4>
                    </a>
                </li>
                <li class="prd-gall__item">
                    <a href="FormualInfo" class="prd-gall__link">
                        <figure class="prd-gall__frame"><img src="~/images/prd_thumb01.jpg" alt="Product thumbnail" class="prd-gall__img"></figure>
                        <h4 class="prd-gall__name">Title</h4>
                    </a>
                </li>
                <li class="prd-gall__item">
                    <a href="FormualInfo" class="prd-gall__link">
                        <figure class="prd-gall__frame"><img src="~/images/prd_thumb01.jpg" alt="Product thumbnail" class="prd-gall__img"></figure>
                        <h4 class="prd-gall__name">Title</h4>
                    </a>
                </li>
                <li class="prd-gall__item">
                    <a href="FormualInfo" class="prd-gall__link">
                        <figure class="prd-gall__frame"><img src="~/images/prd_thumb01.jpg" alt="Product thumbnail" class="prd-gall__img"></figure>
                        <h4 class="prd-gall__name">Title</h4>
                    </a>
                </li>
                <li class="prd-gall__item">
                    <a href="FormualInfo" class="prd-gall__link">
                        <figure class="prd-gall__frame"><img src="~/images/prd_thumb01.jpg" alt="Product thumbnail" class="prd-gall__img"></figure>
                        <h4 class="prd-gall__name">Title</h4>
                    </a>
                </li>
                <li class="prd-gall__item">
                    <a href="FormualInfo" class="prd-gall__link">
                        <figure class="prd-gall__frame"><img src="~/images/prd_thumb01.jpg" alt="Product thumbnail" class="prd-gall__img"></figure>
                        <h4 class="prd-gall__name">Title</h4>
                    </a>
                </li>
                <li class="prd-gall__item">
                    <a href="FormualInfo" class="prd-gall__link">
                        <figure class="prd-gall__frame"><img src="~/images/prd_thumb01.jpg" alt="Product thumbnail" class="prd-gall__img"></figure>
                        <h4 class="prd-gall__name">Title</h4>
                    </a>
                </li>
                <li class="prd-gall__item">
                    <a href="FormualInfo" class="prd-gall__link">
                        <figure class="prd-gall__frame"><img src="~/images/prd_thumb01.jpg" alt="Product thumbnail" class="prd-gall__img"></figure>
                        <h4 class="prd-gall__name">Title</h4>
                    </a>
                </li>
                <li class="prd-gall__item">
                    <a href="FormualInfo" class="prd-gall__link">
                        <figure class="prd-gall__frame"><img src="~/images/prd_thumb01.jpg" alt="Product thumbnail" class="prd-gall__img"></figure>
                        <h4 class="prd-gall__name">Title</h4>
                    </a>
                </li>
                <li class="prd-gall__item">
                    <a href="FormualInfo" class="prd-gall__link">
                        <figure class="prd-gall__frame"><img src="~/images/prd_thumb01.jpg" alt="Product thumbnail" class="prd-gall__img"></figure>
                        <h4 class="prd-gall__name">Title</h4>
                    </a>
                </li>
                <li class="prd-gall__item">
                    <a href="FormualInfo" class="prd-gall__link">
                        <figure class="prd-gall__frame"><img src="~/images/prd_thumb01.jpg" alt="Product thumbnail" class="prd-gall__img"></figure>
                        <h4 class="prd-gall__name">Title</h4>
                    </a>
                </li>
                <li class="prd-gall__item">
                    <a href="FormualInfo" class="prd-gall__link">
                        <figure class="prd-gall__frame"><img src="~/images/prd_thumb01.jpg" alt="Product thumbnail" class="prd-gall__img"></figure>
                        <h4 class="prd-gall__name">Title</h4>
                    </a>
                </li>
                <li class="prd-gall__item">
                    <a href="FormualInfo" class="prd-gall__link">
                        <figure class="prd-gall__frame"><img src="~/images/prd_thumb01.jpg" alt="Product thumbnail" class="prd-gall__img"></figure>
                        <h4 class="prd-gall__name">Title</h4>
                    </a>
                </li>
            </ul>
        </main>
        <nav class="pagination">
            <ul class="pagination__list">
                <li class="pagination__item"><a href="#null" class="pagination__btn" data-anchor="first">Go to the first page</a></li>
                <li class="pagination__item"><a href="#null" class="pagination__btn" data-anchor="prev">Go to the previous page</a></li>
                <li class="pagination__item"><a href="#null" class="pagination__btn" aria-current="page">1</a></li>
                <li class="pagination__item"><a href="#null" class="pagination__btn">2</a></li>
                <li class="pagination__item"><a href="#null" class="pagination__btn">3</a></li>
                <li class="pagination__item"><a href="#null" class="pagination__btn">4</a></li>
                <li class="pagination__item"><a href="#null" class="pagination__btn">5</a></li>
                <li class="pagination__item"><a href="#null" class="pagination__btn" data-anchor="next">Go to the next page</a></li>
                <li class="pagination__item"><a href="#null" class="pagination__btn" data-anchor="last">Go to the first page</a></li>
            </ul>
        </nav>

    </div>
</div>