<footer id="footer" class="footer">
    <div class="inner">
        <div class="footer__container">
            <a href="/" class="footer__home">
                <img src="~/images/logo.svg" alt="Allin K Beauty" class="footer__logo">
            </a>
            <p class="footer__cprt">Design Planet Co.,Ltd</p>
        </div>
    </div>
</footer>