<div class="inner">
    <div class="header-container">
        <h1 class="header-home">
            <a href="/" class="header-home__link" aria-label="Go to Allin K Beauty home">
                <img src="~/images/logo.svg" alt="Allin K Beauty" class="header-home__logo">
            </a>
        </h1>
        <nav id="header-nav" class="header-nav" role="navigation" aria-label="Main menu">
            <ul class="header-nav__list">
                <li class="header-nav__item">
                    <div class="header-nav__wrap">
                        <a href="/Aboutus/AllinKBeauty" class="header-nav__btn" aria-haspopup="true" aria-expanded="false" aria-controls="header-sub-0">ABOUT US</a>
                        <ul id="header-sub-0" class="header-nav__sub" aria-hidden="true">
                            <li class="header-nav__child">
                                <a href="/Aboutus/AllinKBeauty" class="header-nav__link">AllinKBeauty</a>
                            </li>
                            <li class="header-nav__child">
                                <a href="/Aboutus/DesignPlanet" class="header-nav__link">Design Planet Co.,Ltd</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="header-nav__item">
                    <a href="/Formula" class="header-nav__btn">FORMULA</a>
                </li>
                <li class="header-nav__item">
                    <a href="/Packaging" class="header-nav__btn">PACKAGING</a>
                </li>
                <li class="header-nav__item">
                    <a href="/Contact" class="header-nav__btn">CONTACT</a>
                </li>
            </ul>
            <div class="header-info">
                <img src="~/images/logo.svg" alt="Allin K Beauty" class="header-info__logo">
                <p class="header-info__cprt">Design Planet Co.,Ltd</p>
            </div>
        </nav>
        <button type="button" id="hamburger" class="hamburger" aria-haspopup="true" aria-expanded="false" aria-controls="header-nav"></button>
    </div>
</div>